.s2h_seller_dboard_wrapper{
  width: 100vw;
  display: grid;
  grid-template-columns: 0.5fr 2.5fr;
  border: 1px solid red;
  grid-template-areas: "option slect";
  max-width: 98vw;
  margin-inline: auto;
  
}
.s2h_seller_dboard_wrapper > *{
  min-height: 80vh;
  max-height: 90vh;
  overflow-y: scroll;
}
.s2h_seller_dboard_wrapper > ul{
  border: 1px solid green;
  list-style-type: none;
  padding: 0;
}

/* OPTION SELECT */
.s2h_seller_dboard_option_select{
  overflow-y: scroll;
  grid-area: option;
}
.s2h_seller_dboard_option_select  li{
  height: 3rem;
  margin: 1rem 0.5rem 1rem 0;
  cursor: pointer;
  background-color: azure;
  display: grid;
  place-items: center;
}
.s2h_seller_dboard_option_select  li:hover{
  box-shadow: 0.2rem 0.2rem gray;
}
.s2h_seller_shoes_option_ul{
  padding: 0;
  list-style-type: none;
  overflow-y: scroll;
}
.s2h_seller_shoes_option_ul > li{
  margin: 1rem 0.5rem 1rem 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  border: 1px solid blue;
}