.s2h_seller_shoe_option_wrap{
  background-color: red;
  max-height: 100%;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-areas: "select form";
  height: 100%;
}
.s2h_seller_shoe_option_select{
  grid-area: select;
  background-color: azure;
  list-style-type: none;
}
.s2h_seller_shoe_option_select > li{
  margin: 1rem;
  border: 0.2rem solid black;
  padding: 0.2rem;
  cursor: pointer;

}
.s2h_seller_shoe_option_select > li:hover{
  margin: 0.5rem;
  border: 0.3rem solid red;
}

/* FORM */
.s2h_seller_shoe_option_form{
  grid-area: form;
  background-color: yellow;
  display: grid;
  grid-template-columns: 0.2fr 1.5fr;
  row-gap: 0.3rem;
  padding: 0.5rem 1rem;
  margin: auto 0;
}
.s2h_seller_shoe_option_form > textarea{
  grid-column: 1 / 3;
}
.s2h_seller_shoe_option_form > input[type=checkbox]{
  justify-self: left;
  padding: 0;
  margin: 0;
  border: 0;
}

.s2h_seller_shoe_option_form > input{
  padding: 0.5rem;
}

.s2h_seller_order_option_form{
  background-color: aqua;
  padding: 1.5rem;
  margin: auto 0;
}
.s2h_seller_order_option_form > ul > li >div{
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 1fr;
}