@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.container {
  font-size: 14px;
  margin-right: 20em;
  margin-top: 2em;
  width: 100%;
  border: #ccc solid 1px;
  padding: 1em 2em;
  border-radius: 5px;
}

.container>form>div:not(:first-child) {
  margin-top: 2em;
}

.title {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: space-between;
  border: #ccc solid 1px;
  padding: .8em;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.order {
  margin-top: .5em;
  font-size: 1em;
  padding: .5em .8em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  opacity: 0.8;
  color: #fff;
  background-color: rgb(34, 154, 187);
}