@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.container {
  font-family: 'Poppins', sans-serif;
  background-color: #eee;
  height: 100vh;
}

.main {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  height: 100vh;
  background-color: #fff;
}

.check_box input[type=checkbox] {
  width: 1.35em;
  height: 1.35em;
}

.checkbox_input {
  margin-right: 1em;
}

.item {
  margin-bottom: 1em;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 0 1.5em 1em 1.5em;
  overflow: hidden;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  border-radius: 3px;
  height: fit-content;
}

a.item_infor {
  display: flex;
  align-items: center;
  width: 30em;

}

a.item_name {
  margin-left: 1em;
}

.item_name_and_image {
  width: 39.4em;
}

.item_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item_content_display {
  min-width: 42em;
  display: flex;
  justify-content: space-between;
}

/* Image.shoes_image {
  width: 80px;
  height: 80px;
} */