.nav {}

.nav__bar {
  margin: 2rem 10rem;

  @media (max-width:600px) {
    margin:0
  }

}

.top_banner {
  width: 100vw;
  height: 5em;
  background-color: red;
}

.top_link_items {
  color: #0f1568;
  margin: 0;
}

.top_link_items:hover {
  transition: 0.35s ease-in-out;
  transform: scale(1.1);
}

.links_list {
  display: flex;
  flex-direction: row;
  margin-inline: auto;
  font-size: small;
  place-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.links_list>div {
  margin: .5rem 1.5rem;
  width: fit-content;
}

.s2h_logo_bar {
  /* display: flex;
  place-items: center;
  flex-direction: row; */
  display: grid;
  grid-template-columns: 0.8fr 2fr 0.4fr 0.8fr;

  @media (max-width:600px) {
    display: flex;
    flex-direction: column;;
  }

  place-items: center;
}

.s2h_logo_content{
  flex-basis: 20%;
}

.sh2_bar {
  display: flex;
  position: relative;
}

.layout_search_box {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.layout_search_box>form {
  display: grid;
  grid-template-columns: 1.8fr 0.2fr;
  place-items: center;
  width: 100%;
  align-self:stretch;
}

.layout_search_box>form>button {
  border: 1px solid #5F6F94;
  background-color: #5F6F94;
  border-radius: 10%;
  cursor: pointer;
  justify-self: left;
}

.layout_search_box > form > input[type=text] {
  width: 100%;
  background-color: #f1f1f1;
  border: none;
  position: relative;
  outline: none;
  padding: 0.5rem;
}

.sh2_bar:hover {
  transition: 0.35s ease-in-out;
  transform: scale(1.1);
}

.s2h_nav_cart {
  cursor: pointer;
  flex-basis: 10%;
  justify-self: left;
}

.s2h_nav_cart:hover {
  transition: 0.35s ease-in-out;
  transform: scale(1.1);
}
.s2h_header_banner{
  flex-basis: 20%;
}
/* .search_box:hover {
  transition: 0.35s ease-in-out;
  transform: scale(1.1);
} */
/* .search_box_bar {
  display: flex;
  place-items: center;
  width: 100%;
}

.search_box__bar>input[type=search] {
  width: 500px;
  padding: 1em;
  background-color: #f1f1f1;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: relative;
}

.search_box__bar>input[type=search]:focus {
  outline: none;
}

.search_box__btn>.btn_search {
  border: none;
  background-color: #5F6F94;
  padding: 6px 10px;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: 0.8;
}

.search_box__btn>.btn_search:hover {
  transition: 0.35s ease-in-out;
  transform: scale(1.1);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  opacity: 1;
} */