.s2h_ShopItemWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2.5fr 0.5fr;
    border: 1px solid red;
    background-color: whitesmoke;
    cursor: pointer;
    margin: 0.2rem;
    height: 100%;
}
.s2h_ShopItemWrapper:hover{
    border: 4px solid red;  
    margin: 0;
}
.s2h_ShopItemWrapper img {
    border: 1px solid black;
    min-height: 180px;
    width: 100%;
}

.s2h_ShopItemWrapper p {
    max-height: 4em;
    margin: 0.5rem;
    word-wrap: break-word;

    overflow: hidden;
}
.s2h_BreifInfo{
    display: flex;
    flex-direction: column;
}